<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- JavaScript Bundle with Popper -->
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Nunito:wght@600&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <style>
        body {
            font-family: 'Nunito', sans-serif;
        }
		.navbar-nav .nav-item.active .nav-link,
		.navbar-nav .nav-item:hover .nav-link {
    		color: #FF8C00;
		}
        .nav-padding{
            padding-right: 5%;
            padding-left: 5%;
        }
    </style>
</head>
<body>
<!--Navbar -->
<sly data-sly-use.navitems="com.mindtree.aem.burgerstop.core.models.NavbarItems"></sly>
    <nav class="mb-1 navbar navbar-expand-lg navbar-light bg-light nav-padding">
    <a class="navbar-brand js-scroll-trigger" href="${navitems.getRootPage.path}/home.html"> <img src="/content/dam/burgerstop/burger-stop-logo/burgerstop_navbar_logo.png" alt="logo"></a>
      <a class="navbar-brand" href="${navitems.getRootPage.path}/home.html"><strong>BURGUER STOP</strong></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-3" aria-controls="navbarSupportedContent-3" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent-3">
        <ul class="navbar-nav mx-auto">
        <li class="nav nav-item navbar-nav" data-sly-repeat="${navitems.getRootChildPages}">
                    <a class="nav-link" href="${item.path}.html">${item.title}</a>
              </li>
          <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            More
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
           <li class="dropdown-item" data-sly-repeat="${navitems.getMoreChildPages}">
                    <a class="nav-link" href="${item.path}.html">${item.title}</a>
              </li>
          </ul>
        </li>
        </ul>
        <ul class="navbar-nav nav-flex-icons">
   		 <li class="nav-item">
            <a class="nav-link">
              <i class="fa fa-user" style="font-size:25px;"></i>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link">
              <i class="fa fa-cart-plus" style="font-size:25px;"></i>
            </a>
          </li>
        </ul>
      </div>
    </nav>
<!--/.Navbar -->

<div id="id01" class="card">
		<div class="login-box">

			<div class="login-snip">
            <span onclick="document.getElementById('id01').style.display='none'"
class="close" title="Close Modal">&times;</span>
				
				<input id="tab-1" type="radio" name="tab" class="sign-in" checked><label
					for="tab-1" class="tab">Login</label> <input id="tab-2"
					type="radio" name="tab" class="sign-up"><label for="tab-2"
					class="tab">Sign up</label>
				<div class="login-space">
					<div class="login">
						<div class="group">
							<label for="user" class="label"></label> <input id="usernameLogin"
								type="text" class="input" placeholder="Enter your username">
						</div>
						<div class="group">
							<label for="pass" class="label"></label> <input id="passwordLogin"
								type="password" class="input" data-type="password"
								placeholder="Enter your password">
						</div>
						<div id="add_to_me"></div>
						<div class="group">
							<input type="submit" id="sbt" class="button" value="Sign In">
						</div>
						<div class="hr"></div>
						<div class="foot">
							<a href="#">Forgot Password?</a>
						</div>
					</div>
					<div class="sign-up-form">
                        <div class="group">
							<label for="username" class="label"></label> <input id="usernameRegister"
								name="username" type="text" class="input" placeholder="Create your username">
						</div>
                        <div class="group">
							<label for="email" class="label"></label> <input
								id="email" name="email" type="text" class="input"
								placeholder="Enter your email address">
						</div>
						<div class="group">
							<label for="password" class="label"></label> <input id="passwordRegister"
								name="password" type="password" class="input" data-type="password"
								placeholder="Create your password">
						</div>
						<div class="group">
							<label for="conpassword" class="label"></label> <input
								id="conpassword" name="conpassword" type="password" class="input" data-type="password"
								placeholder="Repeat your password">
						</div>
						<div class="group">
							<label for="country" > </label>

							<select name="country" style="right:-20px;" id="country">
                        <option class="options" value="">Select country</option>
							</select>
						</div>
						<div class="group">
							<input type="submit"   onclick="hittingServlet()" class="button" value="Sign Up">
							<h4 id="output"></h4>
						</div>
						<form>



					</div>
				</div>
			</div>
		</div>
	</div>
</body>
